xml_files_Afdajsd0sfd_fjdafjsodiIOnfd/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://wyattbridges.github.io/xml_files_Afdajsd0sfd_fjdafjsodiIOnfd/Hotels.xsd"
    xmlns="https://wyattbridges.github.io/xml_files_Afdajsd0sfd_fjdafjsodiIOnfd/Hotels.xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:simpleType name="PhoneNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}-\d{3}-\d{4}" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ZipCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{5}" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="Hotels">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Hotel" minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Hotel">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                <xsd:element name="Phone" type="PhoneNumberType" minOccurs="1" maxOccurs="unbounded" />
                <xsd:element name="Address" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="Rating" type="xsd:double" use="optional" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Address">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Number" type="xsd:integer" />
                <xsd:element name="Street" type="xsd:string" />
                <xsd:element name="City" type="xsd:string" />
                <xsd:element name="State" type="xsd:string" />
                <xsd:element name="Zip" type="ZipCodeType" />
            </xsd:sequence>
            <xsd:attribute name="NearestAirport" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>